* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #222831;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: none;
    border: white solid 3px;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    padding: 30px;
}

.card:hover {
    background-color: #3b4554;
    cursor: pointer;
}

.card:active {
    background-color: #5D6C83;
}

.vs,
.msg-text,
.player-score,
.card-text {
    color: white;
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 24px;
}


.card-img {
    max-width: 100%;
    max-width: 100%;
    padding: 5px;
}

.score {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 10px;
    background-color: #111720;
    padding: 15px;
}

.score-header,
.human-score,
.cpu-score {
    display: inline-block;
}

.game-message {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    gap: 5px;
}

.msg-subtext {
    color: white;
    font-size: 18px;
}

.fight {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.player-choice,
.cpu-choice {
    border: white solid 3px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fight-img {
    max-width: 90%;
    max-height: 90%;
}

.hidden {
    display: none;
}

.github-link {
    color: white;
    display: flex;
    gap: 5px;
}

a {
    text-decoration: none;
}

.github-logo {
    width: 20px;
    height: 20px;
}

.player-choice,
.cpu-choice {
    display: flex;
}